<div class="cart-panel">
  <h2 class="bg-primary heading-title">Shopping Cart</h2>
  <% if @order_items.size.zero? %>
    <%= render partial: 'shared/empty_cart' %>
  <% else %>
    <%= render partial: 'cart/order_item', collection: @order_items, as: :order_item %>
    <hr/>
    <%= render partial: 'shared/total_price' %>
  <% end %>
</div>
<% set_meta_tags nofollow: true %>
