<p class="text-warning text-center empty-text">
  Your cart is empty, why not to buy something!
  <span class="display-block mg-t-5">
    <%= link_to 'Back To Home', root_path, class: 'btn btn-warning' %>
  </span>
</p>
