<div class="row col-md-12 items-list row-eq-height">
  <div class="col-md-2 text-center item">
    <%= image_tag(item.item_image, height: "32", width: "51", alt: "#{item.item_name}") %>
  </div>
  <div class="col-md-8 item">
    <%= link_to(item.item_name, item_path(item)) %>
  </div>
  <div class="col-md-2 text-center item">
    <%= "Price: #{item.price}" %>
  </div>
</div>
