<h3>Order #<%= @order.id %> - Confirmation</h3>

<p>
  Hi <%= @user.name %>, We've received your order #<%= @order.id %> and have been processing it later.
</p>
<p>
  Our customer service will contact you soon.
</p>
