<div class="item-panel panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">Edit Item</div>
  </div>
  <div class="panel-body">
    <%= render partial: 'items/form', locals: { item: @item } %>
  </div>
</div>
<% set_meta_tags nofollow: true %>
