<h2 class="bg-primary heading-title">Newest Items</h2>
<% if @items.length.zero? %>
  <%= render partial: 'shared/empty', locals: { message: 'We don\'t have any items.' } %>
<% else %>
  <%= render partial: 'shared/horizontal_item', collection: @items, as: :item %>
<% end %>

<% set_meta_tags title: 'Home Page', reverse: true %>
