h2.heading-title {
  border: solid 1px;
  padding: 10px;
}

.display-block {
  display: block;
}

.login-panel, .register-panel {
  .panel-link {
    float: right;
    position: relative;
    top: -10px;
    font-size: 80%;
  }
  .input-group {
    margin-bottom: 25px;
  }
}
