footer {
  margin-top: 25px;
}

h2.heading-title {
  border: solid 1px;
  padding: 10px;
}

.display-block {
  display: block;
}

.pd-r-25 {
  padding-right: 25px;
}

.mg-l-5 {
  margin-left: 5px;
}

.mg-r-5 {
  margin-right: 5px;
}

.mg-t-5 {
  margin-top: 5px;
}

.mg-b-5 {
  margin-bottom: 5px;
}

.login-panel, .register-panel, .profile-panel, .item-panel {
  .panel-link {
    float: right;
    position: relative;
    top: -10px;
    font-size: 80%;
  }
  .input-group {
    margin-bottom: 25px;
  }
  .form-group {
    .content-label {
      padding-top: 7px;
      margin-bottom: 0px;
    }
  }
}
