<div class="category-page">
  <h2 class="bg-primary heading-title"><%= title "Category #{@category.category_name}"%></h2>
  <% if @items.length.zero? %>
    <%= render partial: 'shared/empty', locals: { message: "#{@category.category_name} doesn't have any items." } %>
  <% else %>
    <%= render partial: 'shared/horizontal_item', collection: @items, as: :item %>
    <div class="clearfix text-center">
      <%= paginate @items, theme: 'twitter-bootstrap-3'%>
    </div>
  <% end %>
</div>
<% set_meta_tags title: "Category #{@category.category_name}", reverse: true %>
