<% unless f.empty? %>
  <div class="alert alert-<%= f.first == 'notice' ? 'success' : 'danger' %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <li><%= f.second %></li>
    </ul>
  </div>
<% end %>
